.btn-primary a{
  text-decoration: none;
  color: white;
}

.btn-primary {
  text-decoration: none;
  color: white;
  margin: 3px;
}

.FM{
   font-size: 30px;
   font-style: italic;
   color: red;
   font-family: serif;
}

#title{
  font-style: italic;
  margin-bottom: 40px;
  text-shadow: 2px 2px 	#00FFFF;
}


.card-body {
  border-style: outset;
  border-color: #000066;
  border-width: 3px;
  padding: 10px;
  margin: 10px;

}
